{% extends "layout.html" %}

{% import 'proto1/macros/elements.njk' as forms %}


{% block page_title %}
GOV.UK Agile Foundation
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

{% if errors %}
{{ forms.errorSummary(errors) }}
{% endif %}

 <h1 class="heading-large">
        Digital and Agile Foundation Course
      </h1>

      <form action="/proto1/agile-awareness/select-your-course" method="post" class="form">
        <div class="form-group">

           <legend class="heading-medium">
             Choose a course from the list below
           </legend>

  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-small">London</h1>
      </legend>

      {% for foundCourse in apiResponse %}
      {% if foundCourse.location === 'London' %}
          <div class="multiple-choice">
            <input id="{{ foundCourse._id }}" type="radio" name="{{ foundCourse._id }}" value="{{ foundCourse.location }}, {{ foundCourse.displayText}}" {% if foundCourse.isFull %}disabled{% endif %}>
            <label for="{{ foundCourse._id }}">{{ foundCourse.displaySmall }}
            <p class="font-xsmall">{{ foundCourse.spacesText }}</p></label>
          </div>
      {% endif %}
      {% endfor %}

  </fieldset>


  <div class="form-group">
    <fieldset>
      <legend>

        <h1 class="heading-small">Leeds</h1>
      </legend>

      {% for foundCourse in apiResponse %}
      {% if foundCourse.location === 'Leeds' %}
          <div class="multiple-choice">
            <input id="{{ foundCourse._id }}" type="radio" name="{{ foundCourse._id }}" value="{{ foundCourse.location }}, {{ foundCourse.displayText}}" {% if foundCourse.isFull %}disabled{% endif %}>
            <label for="{{ foundCourse._id }}">{{ foundCourse.displaySmall }}
            <p class="font-xsmall">{{ foundCourse.spacesText }}</p></label>
          </div>
      {% endif %}
      {% endfor %}

  <div class="form-group">
    <fieldset>

      <legend>

        <h1 class="heading-small">Newcastle</h1>
      </legend>

      {% for foundCourse in apiResponse %}
      {% if foundCourse.location === 'Newcastle' %}
          <div class="multiple-choice">
            <input id="{{ foundCourse._id }}" type="radio" name="{{ foundCourse._id }}" value="{{ foundCourse.location }}, {{ foundCourse.displayText }}" {% if foundCourse.isFull %}disabled{% endif %}>
            <label for="{{ foundCourse._id }}">{{ foundCourse.displaySmall }}
            <p class="font-xsmall">{{ foundCourse.spacesText }}</p></label>
          </div>
      {% endif %}
      {% endfor %}
    </fieldset>
  </div>
</fieldset>


<div class="form-group">
    <a href="digital-and-agile-awareness-course" class="link-back">Back to course information</a>
    <br />
    <input class="button" type="submit" name="" value="Continue">
</div>
        </div>
      </form>

    </div>
  </div>

</main>

{% endblock %}
