{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

     <h1 class="heading-large">
        GDS Academy
     </h1>

     <p class="lede">
  The Government Digital Service (GDS) Academy gives civil servants the skills and experience to provide industry leading services through user centred design.
	 </p>




 <h2 class="heading-small"> Courses for individuals </h2>

  <ul class="list list-bullet" content="font-small">

  		<li><a href="agile-awareness/digital-and-agile-awareness-course">Digital and Agile Awareness (1 Day)</li>
  		<li><a href="digital-and-agile-awareness-for-policy">Digital and Agile Awareness for Policy (1 Day)</li>
  		<li><a href="agile-foundation/digital-and-agile-foundation-course">Digital and Agile Foundation Course (10 Days)</a></li>
  		<li>Hands on Agile for Leaders (3 Days)</li>

  	</ul>


 <h2 class="heading-small"> Courses for specific roles </h2>

  <ul class="list list-bullet" content="font-small">

		<li>Working Level for Business Analysts (3 Days)</li>
  		<li>Working Level for Delivery Managers (3 Days)</li>
  		<li>Working Level for Product Managers (3 Days)</li>
  		<li>Service Owner (6 Days)</li>
	</ul>

 <h2 class="heading-small"> Courses for teams </h2>

  <ul class="list list-bullet" content="font-small">

  <li>Agile for teams (3 Days)</li>

  </ul>
</div>

<div class="column-one-third">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	 <h2 class="heading-small"> Locations </h2>
  GDS Academy course take place in:
    <ul class="list list-bullet" content="font-small">

    <li>London (Fulham)</li>
      <li>Leeds (Leeds One)</li>
      <li>Newcastle (Benton Park View)</li>
      <li>Manchester (Stockport) </li>
    </ul>

  </div>


  </div>
</main>

{% endblock %}
