{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

     <h1 class="heading-xlarge">
        Apply for Academy Training
     </h1>
    <div class="grid-row">


</div>

    <h3 class="heading-small"> Use this service to:</h3>

    <br/>

    <ul class="list list-bullet">

  <li>Search for relevant Academy courses</li>
  <li>View and select upcoming course locations and dates</li>
  <li>Apply to attend one of the Academy courses</li>

    </ul>


    <p class="font-small">
      This application process will take approximately 10 minutes.
    </p>

    <a class="button button-start" href="available-courses" role="button">Start now</a>

  <h4 class="heading-medium">Before you start</h4>

    <p>
  In order to successfully apply, please note the following:
    </p>

     <ul class="list list-bullet">

  <li>You need to be working for a government department, agency or local authority</li>
  <li>You will need your line manager's email address and approval to attend a course</li>
  <li>You will need to provide personal details such as work email and a telephone number</li>

    </ul>
  </div>

   <div class="column-one-third">
   <br>
   <br>
   <br>
   <br>
   <p class="heading-small">Stages to applying</p>

  <ol class="list list-number">
<li> Courses available </li>
<li> Course information and eligibility</li>
<li> Select your course </li>
<li> Enter your details</li>
<li> Summary</li>
<li> Confirmation </li>

</ol>


   </div>
</main>

{% endblock %}
