<h1 class="heading-large">
    Digital and Agile Awareness Course
</h1>
<p class="lede">
    This 1 day course is designed to provide an awareness of digital and how this is being taken forward across government.
</p>

<details>
    <summary><span class="summary">Course Overview</span></summary>
    <div>
        <p>
            The digitalisation of government and the introduction of gov.uk have improved government services significantly.
        </p>
        <p>
            This course is designed to teach you about what digital means in government, how to support digital team culture, user-centred design and how to work as an agile, multi-disciplinary team.
        </p>
        <p>
            This course will also help you identify what necessary step to take next in order to advance your digital capabilities.
        </p>
    </div>
</details>

<details>
    <summary><span class="summary">Duration</span></summary>
    <div>
        <p>
            Please note that these timings are a guide only and may vary slightly on the day.
        </p>
        <p>
            1 day.
        </p>
        <ul class="list">
            <li>10:00 - 16:00</li>
        </ul>
    </div>
    </details>

    <details>
        <summary><span class="summary">Modules</span></summary>
        <div>
            <ul class="list list-bullet">
                <li>Digital Awareness</li>
                <li>Thinking Agile</li>
                <li>User centred design</li>
                <li>What next</li>
            </ul>
        </div>
    </details>

    <legend>
        <h3 class="heading-medium">Please read the following eligibility criteria.</h3>
        <ul class="list list-bullet">
            <li>You must work in a government department, agency or local authority</li>
            <li>You must have approval from your line manager to attend the course</li>
        </ul>
    </legend>
