{% extends "layout.html" %}

{% block page_title %}
  Index page - GOV.UK prototype kit
{% endblock %}


{% block head %}
<link href="/public/stylesheets/index.css" media="screen" rel="stylesheet" />
{% endblock %}


{% block content %}
{% import "proto1/macros/elements.njk" as elements %}

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">Apply for Academy Training</h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {{ elements.current("Version 1", "22/08/2017", '/proto1/gds-academy-apply-start', ['initial release'], ['research findings'], '') }}

      <div class="older-versions">
        <h3 class="heading-medium index-heading-medium">Older versions</h3>
      </div>

    </div>

  </div>
</main>

{% endblock %}
